{{#if posts.length}}
  <section>
    <ol class="post-list">
      {{#each posts as |post|}}
        <li>

          <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button
              type="submit"
              class="btn dashboard-posts"
            ><span>{{title}}</span><span>{{format_date
                  created_at
                }}</span></button></a>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}

<section>
  <button type="submit" class="btn dashboard-new-post">Create new post</button>
</section>
<script src="/javascript/add-post.js"></script>